h1{
	text-align: center;
	font-family: 'Righteous', cursive;
}
hr{
	width: 110px;
	color: red;
	height: 1px;

}




main{
	margin-left: 0px;
}
.box{
	display: block;
float: right;
width: 20%;
padding: 1px;
padding-left: 10px;
}
img{ 
 width: 100%;
 border-radius: 5px;
}
img:hover{
	transform: scale(2,2);
	transition: .04s transform;
}

.maindiv{
    width: 70%
     height: 400px;
position: absolute;
left: 50%;
top: 50%;
background-image: url('https://www.pexels.com/photo/cabin-on-green-grass-field-near-lake-under-white-clouds-3689772/');
background-size: 100% 100%;
}